[Desktop Entry]
Encoding=UTF-8
Name=Chessmonk
Comment=A chess suite for GNOME
Exec=chessmonk %F
Icon=chessmonk
Type=Application
Categories=GNOME;GTK;Game
MimeType=application/x-chess-pgn
StartupNotify=True
